@import "../../styles/utils/vars";

  .preloaders {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .loader-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 25%;
    min-width: 300px;
    min-height: 300px;
    display: block;
    z-index: 30000;
    border: 2px solid $white;

    .loader {
      position: absolute;
      top: 50%;
      left: 40%;
      margin-left: 10%;
      transform: translate3d(-50%, -50%, 0);
      
      .square {
        width: 50px;
        height: 50px;
        display: inline-block;
        animation: rotateXY 2s infinite;
        background: #905BFF;
      }
    }
}


@keyframes rotateXY {
    0% {
      transform: rotate(0deg);
    }
    50% {
      opacity: 0.8;
      transform: rotateY(180deg) rotateX(0deg);
    }
    100% {
      transform: rotateY(180deg) rotateX(180deg);
    }
}
