@import '../../../../styles/utils/palette';

.color-item {
  width: 32px;
  height: 32px;

  outline: 1px solid $elements;
  border: 2px solid $black;
  border-radius: 50%;

  cursor: pointer;

  &:hover {
    outline-color: $secondary;
    transition: outline 0.3s;
  }

  &--active {
    outline-color: $white;
  }

  &--black {
    background-color: #444;
  }

  &--green {
    background-color: #07f782;
  }

  &--yellow {
    background-color: #ffff00;
  }

  &--white {
    background-color: #f3f6f4;
  }

  &--purple {
    background-color: #d9d2e9;
  }

  &--red {
    background-color: #d80000;
  }

  &--spacegray {
    background-color: 	#48473e;
  }

  &--midnightgreen {
    background-color: 	#767767;
  }

  &--gold {
    background-color: 	#cfbe55;
  }

  &--silver {
    background-color: 	#f1f1f1;
  }

  &--blue {
    background-color: 	#88accc;
  }
}