@import '../../App.scss';

$accent-color: #905BFF;
$gray-white-color: #F1F2F9;
$accent-light-color: #A378FF;
$gray2: #323542;

.button {
    display: flex;
    height: 40px;
    width: 100%;
    min-width: 170px;
    background-color: $accent-color;
    border: none;

    font-family: Mont-SemiBold, sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    color: $gray-white-color;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: $accent-light-color;
    }

    &:active {
        background-color: $gray2;
    }
}
