@import "../../styles/utils/mixins";
@import "../../styles/utils/typography";
@import "../../styles/utils/palette";

.phones-page {
  padding: 25px 16px 16px;

  @include onTablet {
    padding: 25px 24px 24px;
  }

  @include onDesktop {
    max-width: 1180px;

    margin: 0 auto;
    padding: 25px 32px 32px;
  }

  &__navstring {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 8px;

    @extend %h1_mobile;

    @include onTablet {
      font-size: 48px;
      line-height: 56px;

      letter-spacing: -0.01em;
    }

    color: $white;
  }

  &__items-amount {
    margin-bottom: 32px;

    display: block;

    @extend %bodyText_desktop-tablet;

    color: $secondary;

    @include onTablet {
      margin-bottom: 40px;
    }
  }

  &__selects {
    margin-bottom: 24px;
  }

  &__loader {
    height: 1000px;

    display: flex;
    justify-content: center;
    align-self: center;
  }

  &__catalog {
    margin-bottom: 40px;
    row-gap: 40px;
  }

  &__item {
    grid-column: span 4;

    @include onTablet {
      grid-column: span 6;
    }

    @media (min-width: 920px) {
      grid-column: span 4;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }
}
