@import '../../../../../styles/utils/palette';

.thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 4px;

  border: 1px solid $secondary;

  cursor: pointer;

  &__img {   
    display: block;
    width: 100%;
  }
}