@import '../../../../styles/utils/mixins';

.active-window {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 8px 60px;

  @include onTablet {
    padding: 8px 16px;
  }
  
  &__img {
    width: 100%;
    max-width: 274px;

    @include onDesktop {
      max-width: 442px;
    }
  }
}