@import '../../../../styles/utils/mixins';

.active-window {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  margin: 0 auto;
  padding: 8px 60px;

  @include onDesktop {
    width: 360px;
  }
 
  &__img {
    background-size: contain;
    max-height: 274px;
    object-fit: contain;

    @include onDesktop {
      max-height: 424px;
    }
  }
}