@import '../../../App.scss';
@import '../../../styles/utils/palette';

.button {
    display: flex;
    height: 40px;
    width: 100%;
    min-width: 170px;
    background-color: $accent;
    border: none;

    font-family: Mont-SemiBold, sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    color: $white;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: $accent-light;
    }

    &:active {
        background-color: $surface2;
    }
}
