@import '../../../App.scss';
@import '../../../styles/utils/palette';
@import '../../../styles/utils/typography';

.main-button {
  display: flex;
  height: 40px;
  width: 100%;
  min-width: 170px;
  background-color: $accent;
  border: none;

  font-family: Mont-SemiBold, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  color: $white;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: $accent-light;
  }

  &--active {
    background-color: $surface2;

    &:hover {
      background-color: $secondary;
    }
  }
}

.SmallButton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 40px;

  background-color: #323542;
  border: 1px solid transparent;

  cursor: pointer;
  transition: background-color 0.3s ease;

  &--selected {
    background-color: #161827;
    border: 1px solid #3B3E4A;
  }
}

.button {
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;

  background-color: $surface2;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-color: $icons;
  }

  &--minus {
    background-image: url('../../../images/icons_svg/Minus.svg');

    &--disabled {
      box-sizing: border-box;
      background-color: transparent;
      border: 1px solid $surface2; 
      background-image: url('../../../images/icons_svg/Minus_disabled.svg');

      &:hover {
        background-image: url('../../../images/icons_svg/Minus.svg');
      }
    }
  }

  &--plus {
    background-image: url('../../../images/icons_svg/Plus.svg');
  }
}

.btn-back {
  display: inline-flex;
  gap: 8px;

  @extend %smallText_desktop-tablet;
  color: $white;
  transition: color
  0.3s;

  &__icon {
    fill: $white;
    transition: fill 0.3s;
  }

  &:hover {
    color: $accent;
  }

  &:hover &__icon {
    fill: $accent;
  }
}

.btn-color {
  position: relative;
  
  width: 32px;
  height: 32px;

  outline: 1px solid $elements;
  border: 2px solid $black;
  border-radius: 50%;

  cursor: pointer;

  &:hover {
    outline-color: $secondary;
    transition: outline 0.3s;
  }

  &--active {
    outline-color: $white;
  }

  &--yellow {
    background-color: $gold;
  }

  &--green {
    background-color: $green;
  }

  &--black {
    background-color: $black-phone;
  }

  &--white {
    background-color: $white;
  }

  &--purple {
    background-color: $accent;
  }

  &--red {
    background-color: $red;
  }
}
