@import "../../styles/utils/typography";
@import "../../styles/utils/palette";
@import "../../styles/utils/mixins";

.cart-page {
  margin: auto;
  padding: 24px 16px 56px;

  background-color: $black;

  @include onTablet {
    padding: 40px 24px 64px;
    max-width: 640px;
  }

  @include onDesktop {
    padding: 40px 32px 80px;
    max-width: 1200px;
  }

  &--back {
    @extend %smallText_desktop-tablet;
    text-decoration: none;
    color: $white;

    transition: 0.3s;
    &::before {
      content: '';
      display: inline-block;
      height: 9px;
      width: 9px;
      background-image: url('../../images/left-arrow.svg');
      background-repeat: no-repeat;
      background-size: contain;
      transition: 0.3s;
    }

    &:hover {
      color: $accent;

      &::before {
        background-image: url('../../images/left-arrow-hover.svg');
      }
    }
  }

  &--title {
    @extend %h1_mobile;
    margin: 24px 0 32px;
    color: $white;

    @include onTablet {
      margin-top: 16px;

      font-family: "Mont-Bold";
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -0.01em;
    }
  }

  &--content {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include onDesktop {
      flex-direction: row;
      justify-content: space-between;
      gap: 16px;
    }
  }

  &--order {
    padding: 24px;
    border: 1px solid $elements;

    @include onDesktop {
      width: 366px;
    }
  }

  &--price {
    @extend %h2_desktop-tablet;
    text-align: center;
    color: $white;
    font-size: 32px;
  }

  &--total-items {
    @extend %h4_mobile;
    padding-bottom: 16px;
    color: $secondary;
    text-align: center;
    border-bottom: 1px solid $elements;

    @include onDesktop {
      padding-bottom: 24px;
    }
  }

  &--button-container {
    margin-top: 16px;

    @include onDesktop {
      margin-top: 24px;
    }
  }

  &--list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include onDesktop {
      width: 752px;
    }
  }

  &--empty {
    @extend %h2_desktop-tablet;
    color: $white;
  }

  &--completed {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    opacity: 0;

    transition: 0.5s;

    &-background {
      position: absolute;
      width: 100%;
      height: 100%;

      background-color: $black;
    }

    &--active {
      pointer-events: inherit;
      opacity: 0.8;
    }

    &-message {
      @extend %h3_desktop-tablet;
      position: relative;
      padding: 30px 50px;

      color: $white;
      background-color: $green;
    }
  }
}