@import '../../../styles/utils/typography';
@import '../../../styles/utils/palette';

.capacity-selector {
  display: flex;
  gap: 8px;

  &__btn {
    padding: 8px;
    
    border: 1px solid $icons;

    @extend %bodyText_desktop-tablet;
    color: $white;

    background-color: transparent;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
      color: $black;
      background-color: $white;
    }

    &--active {
      color: $black;
      background-color: $white;
    }
  }
}