@import '../../styles/utils/typography';
@import '../../styles/utils/mixins';

.footer {
  color: #F1F2F9;
  background-color: #0F1121;

  &__container {
    position: relative;
    padding: 32px 16px;
    max-width: 320px;
    margin: 0 auto;
  
    @include onTablet {
      padding: 32px;
      max-width: 768px;
    }
  
    @include onDesktop {
      max-width: 1280px;
    }
  }

  &__extra {
    @include onTablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include onDesktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    display: flex;
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 0;
    }

    @include onDesktop {
      margin-bottom: 0;
    }

    &-image {
      width: 90px;
      height: 30px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;

    @include onTablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      width: 280px;
    }

    @include onDesktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      width: 280px;
    }
  }

  &__link {
    @extend %uppercase_desktop-tablet;

    text-decoration: none;
    color: inherit;
    transition: all 0.3s;

    &:hover {
      color:#75767F;
    }
  }

  &__github, &__contacts {
    margin-bottom: 16px;

    @include onTablet {
      margin-bottom: 0;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__rights {
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 0;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__back {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    @extend %footerText_desktop-tablet;

    color: #75767F;
  }
  
  &__arrow {
    padding: 32px;
    background-image: url("../../images/Button.png");
    transform: rotate(270deg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    transition: all 0.3s;
  
    &:hover {
      background-image: url("../../images/HoverButton.png");
      transform: scale(1.08) rotate(270deg);
    }
  }
}
