@font-face {
  font-family: "Mont-Regular";
  font-weight: 400;
  src: url(./fonts/Mont-Regular.ttf);
}

@font-face {
  font-family: "Mont-SemiBold";
  font-weight: 500;
  src: url(./fonts/Mont-SemiBold.ttf);
}

@font-face {
  font-family: "Mont-Bold";
  font-weight: 700;
  src: url(./fonts/Mont-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Mont-Regular";
  box-sizing: border-box;
}
