@import '../../../styles/utils/typography';
@import '../../../styles/utils/palette';
@import '../../../styles/utils/mixins';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  width: 100%;
  height: 48px;
  background-color: $black;
  box-shadow: 0px 2px 0px #323542;

  @include onDesktop {
    height: 64px;
    padding-left: 24px;
  }

  &__logo {
    width: 64px;
    height: 23px;
    background-image: url(../../../images/icons_svg/Logo.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.2);
    }

    @include onDesktop {
      width: 80px;
      height: 29px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 32px;
    text-decoration: none;

    @include onDesktop {
      gap: 64px;
    }
  }

  &__item {
    list-style: none;

    @include onMobile {
      display: none;
    }
  }

  &__link {
    @extend %uppercase_desktop-tablet;
    text-decoration: none;
    color: $secondary;
    transition: border-color 0.3s, background-color 0.3s;
    padding: 12px 0;
    border-bottom: 3px solid transparent;

    @include onDesktop {
      padding: 20px 0;
    }

    &:hover {
      border-color: $secondary;
      background-color: rgba(0, 128, 128, 0.055);
    }

    &:focus {
      border-color: $white;
    }
  }

  .is-active {
    color: $white;
    border-color: $white;
    background-color: rgba(0, 128, 128, 0.137);
  }

  &__right {
    display: flex;
    height: 100%;
  }

  &__favourites, &__cart, &__mobileMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 48px;
    box-shadow: -1px 0px 0px #323542;

    @include onDesktop {
      width: 64px;
    }

    @include onMobile {
      display: none;
    }
  }

    &__mobileMenu {
      display: none;

      @include onMobile {
        display: flex;
      }
    }

  &__favourites-logo, &__cart-logo, &__mobileMenu-logo {
    width: 48px;
    height: 22px;
    background-image: url(../../../images/icons_svg/Favorites_Heart.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s;

    @include onDesktop {
      width: 64px;
    }
  }

  &__cart-logo {
    background-image: url(../../../images/icons_svg/Shopping-bag_Cart.svg);
  }

  &__mobileMenu-logo {
    &_clos {
      background-image: url(../../../images/icons_svg/mobile-menu_open.svg);
    }

    &_open {
      background-image: url(../../../images/icons_svg/mobile-menu_close.svg);
    }
  }
}